body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

h1 {
    font-size: 48px;
    @media (max-width: 725px) {
        font-size: 36px;
    }
    @media (max-width: 475px) {
        font-size: 30px;
    }
}

section {
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
}

section:nth-child(3) {
    background-color: $color-black;
}

section:nth-child(5) {
    background-color: $color-black;
}

.normal {
    font-weight: 400;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 32px;
    @media (max-width: 725px) {
        padding: 0 16px;
    }
}

.header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
    @media (max-width: 725px) {
        font-size: 36px;
    }
}

.white {
    color: $color-white;
    padding: $section-spacing 0;
}
