
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card($border-color, $border-radius: $border-radius-sm) {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    transition: $transition-default;
}

@mixin hoverEffect($bg-color, $text-color) {
    &:hover {
        background-color: $bg-color;
        color: $text-color;
    }
}

@mixin responsiveFontSize($desktop, $tablet: null, $mobile: null) {
    font-size: $desktop;
    
    @if $tablet {
        @media (max-width: 955px) {
            font-size: $tablet;
        }
    }
    
    @if $mobile {
        @media (max-width: 720px) {
            font-size: $mobile;
        }
    }
}

@mixin responsiveMaxWidth($desktop, $tablet: null, $mobile: null) {
    max-width: $desktop;
    
    @if $tablet {
        @media (max-width: 1275px) {
            max-width: $tablet;
        }
    }
    
    @if $mobile {
        @media (max-width: 720px) {
            max-width: $mobile;
        }
    }
}

@mixin responsiveImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
