.projects-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project {
    display: flex;
    gap: 124px;
    
    .project-image {
        height: 338px;
        border-radius: $border-radius-lg;
        overflow: hidden;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        max-width: 495px;
        
        .number {
            font-size: 48px;
        }
        
        .project-title {
            font-size: 30px;
        }
        
        .project-description {
            color: $color-white-secondary;
        }
    }
    
    .more-btn {
        display: block;
        padding: 16px 20px;
        border-radius: $border-radius-sm;
        margin-right: auto;
    }
}

.project:nth-child(even) {
    .project-image {
        order: 1;
    }
}
