h1 {
  font-size: 48px;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

section:nth-child(3) {
  background-color: #000;
}

section:nth-child(5) {
  background-color: #000;
}

.normal {
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.white {
  color: #fff;
  padding: 100px 0;
}

.hero {
  position: relative;
  display: flex;
  padding: 0 32px;
}

.hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 48px;
  height: 100%;
}

.hero-links {
  display: flex;
  gap: 48px;
}
.hero-links .hero-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 10.67px;
  border: 1.33px solid #000;
  color: #000;
  transition: all 0.3s ease;
}
.hero-links .hero-icon i {
  font-size: 32px;
}
.hero-links .hero-icon img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero-links .hero-icon:hover {
  background-color: #000;
  color: #fff;
}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.hero-image {
  margin-left: auto;
}
.hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  height: 180px;
  width: 186px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #000;
  background-color: #fff;
  transition: all 0.3s ease;
}
.skill-card i {
  font-size: 48px;
}
.skill-card p {
  font-size: 18px;
  font-weight: 800;
}
.skill-card:hover {
  background-color: #000;
  color: #fff;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}
.experience-card .header-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}
.experience-card .card-header {
  font-size: 30px;
}
.experience-card .card-description {
  font-size: 18px;
}
.experience-card .experience-icon {
  display: inline;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.experience-card:hover {
  background-color: #242424;
  color: #fff;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 123px;
}

.about-content .header {
  text-align: left;
}
.about-content .about-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: flex;
  gap: 124px;
}
.project .project-image {
  height: 338px;
  border-radius: 20px;
  overflow: hidden;
}
.project .project-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.project .project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 495px;
}
.project .project-info .number {
  font-size: 48px;
}
.project .project-info .project-title {
  font-size: 30px;
}
.project .project-info .project-description {
  color: rgba(255, 255, 255, 0.6);
}
.project .more-btn {
  display: block;
  padding: 16px 20px;
  border-radius: 8px;
  margin-right: auto;
}

.project:nth-child(even) .project-image {
  order: 1;
}

.contacts {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 598px;
}
.contacts h2 {
  font-size: 48px;
  line-height: 48px;
}
.contacts .description {
  margin: 32px 0;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
}

.call-me {
  display: flex;
  justify-content: space-between;
  gap: 123px;
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;
}

.email {
  margin-bottom: 12px;
}