h1 {
    font-size: 48px;
}

section {
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
}

section:nth-child(3) {
    background-color: $color-black;
}

section:nth-child(5) {
    background-color: $color-black;
}

.normal {
    font-weight: 400;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 32px;
}

.header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
}

.white {
    color: $color-white;
    padding: $section-spacing 0;
}
