// цветаа
$color-black: #000;
$color-white: #fff;
$color-text-secondary: #00000099;
$color-white-secondary: #FFFFFF99;

// размеры
$container-max-width: 1280px;
$section-spacing: 100px;

// рамки
$border-radius-sm: 8px;
$border-radius-md: 10.67px;
$border-radius-lg: 20px;

// Переходы
$transition-default: all 0.3s ease;
